# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/mooc-java-programming-i/part03-Part03_19.IndexWasNotFound/target/
/mooc-java-programming-i/part03-Part03_21.PrintNeatly/target/
/mooc-java-programming-i/part03-Part03_22.PrintInStars/target/
/mooc-java-programming-i/part03-Part03_23.PrintThrice/target/
/mooc-java-programming-i/part03-Part03_24.IsItTrue/target/
/mooc-java-programming-i/part03-Part03_25.Login/target/
/mooc-java-programming-i/part03-Part03_26.LineByLine/target/
/mooc-java-programming-i/part03-Part03_27.AVClub/target/
/mooc-java-programming-i/part03-Part03_31.NameOfTheOldest/target/
/mooc-java-programming-i/part04-Part04_01.YourFirstAccount/target/
/mooc-java-programming-i/part04-Part04_02.YourFirstBankTransfer/target/
/mooc-java-programming-i/part04-Part04_03.DogAttributes/target/
/mooc-java-programming-i/part04-Part04_04.Room/target/
/mooc-java-programming-i/part04-Part04_05.Whistle/target/
/mooc-java-programming-i/part04-Part04_08.DecreasingCounter/target/
/mooc-java-programming-i/part04-Part04_09.Debt/target/
/mooc-java-programming-i/part04-Part04_11.Film/target/
/mooc-java-programming-i/part04-Part04_10.Song/target/
/mooc-java-programming-i/part04-Part04_12.Gauge/target/
/mooc-java-programming-i/part04-Part04_13.Agent/target/
/mooc-java-programming-i/part04-Part04_14.Multiplier/target/
/mooc-java-programming-i/part04-Part04_15.NumberStatistics/target/
/mooc-java-programming-i/part03-Part03_18.Swap/target/
/mooc-java-programming-i/part03-Part03_32.PersonalDetails/target/
/mooc-java-programming-i/part03-Part03_30.AgeOfTheOldest/target/
/mooc-java-programming-i/part04-Part04_16.PaymentCard/target/
/mooc-java-programming-i/part04-Part04_17.Items/target/
/mooc-java-programming-i/part04-Part04_18.PersonalInformation/target/
/mooc-java-programming-i/part04-Part04_19.TelevisionPrograms/target/
/mooc-java-programming-i/part04-Part04_20.Books/target/
/mooc-java-programming-i/part04-Part04_21.NumberOfStrings/target/
/mooc-java-programming-i/part04-Part04_22.Cubes/target/
/mooc-java-programming-i/part04-Part04_23.CreatingANewFile/target/
/mooc-java-programming-i/part04-Part04_24.PrintingAFile/target/
/mooc-java-programming-i/part04-Part04_25.PrintingASpecifiedFile/target/
/mooc-java-programming-i/part04-Part04_26.GuestListFromAFile/target/
/mooc-java-programming-i/part04-Part04_27.IsItInTheFile/target/
/mooc-java-programming-i/part04-Part04_28.NumbersFromAFile/target/
/mooc-java-programming-i/part04-Part04_29.RecordsFromAFile/target/
/mooc-java-programming-i/part04-Part04_30.StoringRecords/target/
/mooc-java-programming-i/part04-Part04_31.SportStatistics/target/
/mooc-java-programming-i/part05-Part05_01.OneMinute/target/
/mooc-java-programming-i/part05-Part05_02.Book/target/
/mooc-java-programming-i/part05-Part05_03.Cube/target/
/mooc-java-programming-i/part05-Part05_04.FitByte/target/
/mooc-java-programming-i/part05-Part05_05.ConstructorOverload/target/
/mooc-java-programming-i/part05-Part05_06.OverloadedCounter/target/
/mooc-java-programming-i/part05-Part05_07.NullPointerException/target/
/mooc-java-programming-i/part05-Part05_09.HealthStation/target/
/mooc-java-programming-i/part05-Part05_10.CardPayments/target/
/mooc-java-programming-i/part05-Part05_08.BiggestPetShop/target/
/mooc-java-programming-i/part05-Part05_11.ComparingApartments/target/
/mooc-java-programming-i/part05-Part05_12.Song/target/
/mooc-java-programming-i/part05-Part05_13.IdenticalTwins/target/
/mooc-java-programming-i/part05-Part05_14.Books/target/
/mooc-java-programming-i/part05-Part05_15.Archive/target/
/mooc-java-programming-i/part05-Part05_16.DatingApp/target/
/mooc-java-programming-i/part05-Part05_17.Money/target/
/mooc-java-programming-i/part06-Part06_01.Menu/target/
/mooc-java-programming-i/part06-Part06_02.Stack/target/
/mooc-java-programming-i/part06-Part06_03.MessagingService/target/
/mooc-java-programming-i/part06-Part06_04.PrintingACollection/target/
/mooc-java-programming-i/part06-Part06_13.Exercises/target/
/mooc-java-programming-i/part07-Part07_01.LiquidContainers/target/
/mooc-java-programming-i/part07-Part07_02.LiquidContainers2/target/
/mooc-java-programming-i/part07-Part07_03.Sorting/target/
/mooc-java-programming-i/part07-Part07_04.ReadymadeSortingAlgorithms/target/
/mooc-java-programming-i/part07-Part07_05.Searching/target/
/mooc-java-programming-i/part07-Part07_06.GradeStatistics/target/
/mooc-java-programming-i/part07-Part07_07.RecipeSearch/target/
/mooc-java-programming-i/part07-Part07_08.BigYear/target/
/mooc-java-programming-ii/mooc-java-programming-ii/part08-Part08_01.Cubes/target/
/mooc-java-programming-ii/mooc-java-programming-ii/part08-Part08_02.AverageOfPositiveNumbers/target/
/mooc-java-programming-ii/mooc-java-programming-ii/part08-Part08_03.LiquidContainers/target/
/mooc-java-programming-ii/mooc-java-programming-ii/part08-Part08_04.LiquidContainers2/target/
/mooc-java-programming-ii/mooc-java-programming-ii/part08-Part08_05.TodoList/target/